<!DOCTYPE html>
<html>
  <head>
    <title>Amyhref.com // Yesterday's links today</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/images/amyhref.ico" /> 
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='flash' style='display: none;'>
    </div>
    <div class='header'>
      <% if logged_in? %>
        <% if controller.controller_name == 'you' %>
          <%= link_to 'Home', '/', :class => 'btn you left' %>
        <% else %>
          <%= link_to 'Your profile', '/you', :class => 'btn you left' %>
        <% end %>
      <% end %>

      <%= yield :title %>

      <% if logged_in? %>
        <%= link_to 'Sign out', '/signout', :class => 'btn signout right', :method => :delete %>
      <% else %>
        <%= link_to 'Sign in', '/auth/google_oauth2', :class => 'btn btn--primary signin right' %>
      <% end %>
    </div>

    <%= yield %>

    <script>
      (function(w, d){
       var id='embedly-platform', n = 'script';
       if (!d.getElementById(id)){
         w.embedly = w.embedly || function() {(w.embedly.q = w.embedly.q || []).push(arguments);};
         var e = d.createElement(n); e.id = id; e.async=1;
         e.src = ('https:' === document.location.protocol ? 'https' : 'http') + '://cdn.embedly.com/widgets/platform.js';
         var s = d.getElementsByTagName(n)[0];
         s.parentNode.insertBefore(e, s);
       }
      })(window, document);
    </script>
    <%= yield :javascript_for_footer %>
  </body>
  <!--<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>-->
</html>
