<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:page_title) ? yield(:page_title) : 'Amy Href' %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= javascript_include_tag "vendor/modernizr", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <link rel="shortcut icon" href="/images/amyhref.ico" /> 

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

      <!-- off canvas menu -->
      <aside class="left-off-canvas-menu ">
        <%= yield :offcanvas %>
      </aside>

      <!-- main content -->
      <div class='flash' style='display: none;'> </div>

      <nav class="top-bar" data-topbar role="navigation">
        <section class="top-bar-section">
          <ul class="right">
            <% if logged_in? %>

              <div class='show-for-small-only btn current-filter left-off-canvas-toggle'>
                <% if @newsletter %>
                  <%= @newsletter.email %>
                <% elsif controller.action_name == 'spam' %>
                  Spam
                <% elsif controller.action_name == 'highlights' %>
                  Highlights
                <% elsif controller.action_name == 'index' %>
                  All
                <% elsif controller.action_name == 'search' %>
                  Search
                <% end %>
              </div>

              <%= link_to 'Sign out', '/signout', :class => 'btn signout hide-for-small', :method => :delete %>
            <% else %>
              <%= link_to 'Sign in', '/auth/google_oauth2', :class => 'btn signin' %>
            <% end %>
          </ul>

          <%= yield :title %>

          <ul class="left">
            <% if logged_in? %>
              <% if controller.controller_name == 'you' %>
                <%= link_to 'Filter', '#', :class => 'btn you left-off-canvas-toggle show-for-small-only' %>
                <%= link_to 'Home', '/', :class => 'btn you hide-for-small' %>
              <% else %>
                <%= link_to 'You', '/you/highlights', :class => 'btn you' %>
              <% end %>
            <% end %>
          </ul>
        </section>
      </nav>

      <div class='row full-width'>
        <%= yield %>
      <div>

      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>

      </div>
    </div>

    <%= render :partial => 'shared/embedly' %>

    <%= yield :javascript_for_footer %>

    <%= render :partial => 'shared/ga' %>

  </body>
</html>
